* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   ul{
     list-style: none;
     padding: 0;
     display: flex;
     gap: 10px;
   }
   #image-wrap {
    width: 100%;
   }
   
    .image:hover {
     background-size: 175%;
    }
  /* products details */
  
  .padding{
    padding: 20px 0px;
  }
  .products-d{
    width: 100%;
    padding-left: 30px;
  }
  .products-d h2{
    color: #0000007a;
    font-weight: initial;
    font-size: 30px;
  }
  .review{
    display: flex;
    gap: 15px;
  }
  .star ul{
    display: flex;
    list-style: none;
    padding: 0;
  }
  .prod-tab li{
    width: 68px;
    height: auto;
    border: 1px solid #bbb;
  }
  .prod-tab li:hover{
    box-shadow: 3px 3px 5px 1px #bbbbbb3b;
  }
  .prod-tab li a img{
    width: 100%;
  }
  .cart{
    display: flex;
    gap: 10px;
  }
  .cart input{
    width: 70px;
    height: 55px;
  }
  .cart .add-to{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    color: #ffff;
    line-height: 55px;
    font-size: 15px;
  }
  .cart input{
    width: 80px;
    height: 55px;
    padding: 0px 10px;
    border: 1px solid #bbb;
  }
  .cart .add-whish{
    width: 70px;
    text-align: center;
    line-height: 49px;
    border: 1px solid #bbb;
  }
  .cart .share{
    width: 50px;
    text-align: center;
    line-height: 49px;
  }